@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  display:flex;
  justify-content: space-between;
}
.left-links{
  display:flex;
  justify-content: space-around;
  list-style-type: none;
  margin-left: 16px;
  padding: 0;
  gap: 16px;
}
.right-links{
  display:flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  margin-right: 16px;
  padding: 0;
  gap: 16px;
}
.footer{
  display:flex;
  justify-content: space-between;
  background-color: #eeeeee;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}
.content{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
a:link {
  text-decoration: none;
  color: #666666;
}

a:visited {
  text-decoration: none;
  color: #666666;
}

a:hover {
  text-decoration: underline;
  color: #666666;
}

a:active {
  text-decoration: underline;
  color: #666666;
}