/* Add CSS Styling */

.main{
    background-color: #FFC0CB;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.main.cooler{
    font-size: 24px;
}
#id1{
    color:#0000FF;
    font-size: 36px;
}
#id2{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: 700;
}