
body {
  background: #eee;
  font-family: sans-serif;
  font-size: 32px;
}

.card {
  width: 800px;
  background: #fff;
  margin: 16px auto;
  padding-top: 20px;
  padding-bottom: 4px;
}

.title {
  background: #e3f4ff;
  font-size: inherit;
  margin: 20px;
  padding: 20px;
}

.content {
  background: #e3f4ff;
  margin: 20px;
  padding: 30px;
}

.button-container {
  background: #e3f4ff;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  margin: auto;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  padding: 20px;
}